html {
  scroll-behavior: smooth;
  font-family: Trebuchet ;
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:transparent;
  z-index: 2;
 }
ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style: none;
  font-size: 1.2em;
  
}
@media (max-width: 540px) {
  ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;
  font-size: 1em;
  }
}

#navbar {
  
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

 



.nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 1em 1em;
  font-style:bold;
}
.nav-link:hover {
  color: rgb(212, 22, 22);
}

#welcome-section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20L0 20z' fill='%23000000' fill-opacity='0.18' fill-rule='evenodd'/%3E%3C/svg%3E");
}

  

/* First facebook */
.social{
  left: 70px;
  top: 230px;
  position: fixed;
  top: 370px;
}

.social ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0px);
  -moz-transform: translate(-270px, 0px);
  -ms-transform: translate(-270px, 0px);
  -o-transform: translate(-270px, 0px);
  transform: translate(-330px, 0px);
}
.social ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(85px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social ul li:hover a {
  color: #000;
}
.social ul li:hover i {
  color: #fff;
  background: red;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
/* Github icon */

.social1 {
  left: 70px;
  top: 230px;
  position: fixed;
  top: 300px;
}

.social1 ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-330px, 0);
}
.social1 ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social1 ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(85px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social1 ul li:hover a {
  color: #000;
}
.social1 ul li:hover i {
  color: #fff;
  background: red;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social1 ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

/* Instagram icon */

.social2 {
  left: 70px;
  top: 230px;
  position: fixed;
  top: 230px;
}

.social2 ul {
  padding: 0px;
  -webkit-transform: translate(-270px, 0);
  -moz-transform: translate(-270px, 0);
  -ms-transform: translate(-270px, 0);
  -o-transform: translate(-270px, 0);
  transform: translate(-330px, 0);
}
.social2 ul li {
  display: block;
  margin: 5px;
  background: rgba(0, 0, 0, 0.36);
  width: 300px;
  text-align: right;
  padding: 10px;
  -webkit-border-radius: 0 30px 30px 0;
  -moz-border-radius: 0 30px 30px 0;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social2 ul li:hover {
  -webkit-transform: translate(110px, 0);
  -moz-transform: translate(110px, 0);
  -ms-transform: translate(110px, 0);
  -o-transform: translate(110px, 0);
  transform: translate(85px, 0);
  background: rgba(255, 255, 255, 0.4);
}
.social2 ul li:hover a {
  color: #000;
}
.social2 ul li:hover i {
  color: #fff;
  background: red;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.social2 ul li i {
  margin-left: 10px;
  color: #000;
  background: #fff;
  padding: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #ffffff;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

#h1 {
  
  font-style: italic;
  color: rgb(0, 0, 0);
  margin-top: 200px;
}
 
#h2 {

  color: black;
}
#h3 {
  color:black;
  float: right;
  margin-left: 500px;
  margin-top: 100px;
}

.Rby {
 height: 200px;
 width: 200px;

}



#projects {
  margin: 60% 25% 25% -11%;
  padding: 25% 25% 25% 20%;
  text-align: center;
  height: 110vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
  margin-top: 40px;
  
 }

 
@media (max-width: 640px) {
  #projects {
  margin: 10% 0 0 0;
  padding: 0 10%;
  text-align: center;
  height: auto;
  width: auto;
  } 
}

#project-titles {
  display: grid;
  grid-template-columns: 350px 400px 400px ;
  justify-content: left; 
  
 }
@media (max-width: 640px) {
  #project-title {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 300px;
  justify-content: center;  
 }
}
.project-title {
    padding: 4em;
    margin: 1em;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    opacity: 0.6;
    z-index: 0.7;
}
.project-title:hover {
  opacity: 1;
}
img {
  width: 100%;
  padding-bottom: 100px;
  
}
img:hover {
  opacity: 14;
}
.project-link {
  text-decoration: none;
  color: rgb(212, 28, 28);
}
#profile-link {
  color: rgb(27, 58, 97);
  text-decoration: none;
}
#profile-link:hover {
  color: rgb(204,55,0);
}
#Github {
  padding-top: 1em;
  font-family: Georgia;
  font-style: italic;
}
h1 {
  color: rgb(9, 12, 211);
  font-weight: 400;
  font-size: 2.5em;
}
h2 {
  color: rgb(0, 16, 245);
  font-size: 1.2em;
  font-weight: 400;
  font-family: Georgia;
  font-style: italic;
}
h3 {
  padding: 1em;
  font-size: 1.6em;
  font-weight: 400;
}
#contact {
  height: 100vh;
  width: 100%;
  background-image: url();
  color: white;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
#contact-info {
  line-height: 2.5em;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 200px;
  
}
#contact-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2% 30%;
  text-align: center;
}
@media (max-width: 640px) {
  #contact-text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2% 5%;
  text-align: center;
}
}
#footer {
  padding: 0.8em 0;
  font-size: 0.8em;
  text-align: right;
  }